/* ***** commons ***** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    /* margin:auto; */
}

.container-md {
    width: 80%;
    margin:auto;
}

/* ***** header ***** */
header {
    height: 100px;
    background-image: url("../img/pattern.png");
    background-color: #7fa6fb;
    background-size: 25%;
}

#logo {
    height: 50px;
    margin-top: 40px;
}

/* ***** main ***** */


#descrizione, #tabella {
    margin-top: 20px;
}


/* sezione titolo */
.author {
    color:grey;
}

.author-name {
    color: #7fa6fb;
}

.date {
    color: grey;
    font-size:12px;
}

.photo {
    margin-top:20px;
}

.caption {
    font-size: 12px;
}
h1 {
    font-size:40px;
    margin-top: 20px;
}

/* sezione descrizione */


.evidenziato {
    background-color: yellow;
}

.elenco {
    margin-top: 20px;
    margin-left: 40px;
}

/* sezione tabella */

table {
    border-spacing: 0;
    margin-bottom: 20px;
}

thead {
    background-color: #7fa6fb;
    color: white;
    text-align:left;
}

.col3 {
    width: 60%;
}

.odd {
    background-color: #c4edfd;
}